---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import CaseStudyCard from '../components/CaseStudyCard.astro';
---

<Layout title="NFT Pots 'N Pans">
	<section class="w-full bg-bottom bg-cover bg-no-repeat bg-[url('https://images.unsplash.com/photo-1556910096-6f5e72db6803?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-gray-700 bg-blend-multiply">
		<div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
			<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Where NFTs meet stainless steel cookware.</h1>
			<p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">We all use pots and pans all day long, so why not make them into NFTs?</p>
			<div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
				<a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 dark:focus:ring-teal-900">
					Sign Up
					<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
					</svg>
				</a>
				<a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
					Learn more
				</a>  
			</div>
		</div>
	</section>
	<div class="max-w-screen-xl mx-auto py-5 lg:py-40 px-10">
		<h1 class="mb-4 text-3xl font-normal tracking-tight leading-none text-black md:text-4xl lg:text-5xl text-center mt-3 lg:mt-0">Here's how our customers have used NFTs.</h1>
		<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
		<div class="flex flex-wrap justify-center">
			<CaseStudyCard 
				imageUrl="https://images.unsplash.com/photo-1483737778139-63dff4421d43?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
				title="Meat company utilizes pan NFT to prevent bacon theft." 
				description="A multinational meat company was facing issues with meat theft. Using NFT Pots 'N Pans, they solved it." 
				link="#" 
				linkText="Read more" 
			/>
			<CaseStudyCard 
				imageUrl="https://images.unsplash.com/photo-1496886951268-3dcd336e467e?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
				title="Local fisheries tout the use of NFTs as effective against poachers." 
				description="In the Pacific Northwest United States, local fisheries have found that using NFTs to mitigate caviar theft has resulted in 2x profit." 
				link="#" 
				linkText="Read more" 
			/>
			<CaseStudyCard 
				imageUrl="https://images.unsplash.com/photo-1542895364-1f38d277f031?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
				title="Home cooks in Italy use NFTs to prevent theft of secret recipes." 
				description="One Italian grandmother utilized our NFTs to prevent her grandson from stealing her lasagna recipe." 
				link="#" 
				linkText="Read more" 
			/>
		</div>
	</div>
	<div class="bg-teal-700">
		<div class="max-w-screen-xl mx-auto py-5 lg:py-16 px-10">
			<dl class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mx-auto text-white py-10">
				<div class="flex flex-col text-center my-3 lg:my-0">
					<dt class="mb-2 text-6xl font-extrabold">2,500+</dt>
					<dd class="text-white">NFTs</dd>
				</div>
				<div class="flex flex-col text-center my-3 lg:my-0">
					<dt class="mb-2 text-6xl font-extrabold">1,000s</dt>
					<dd class="text-white">Users</dd>
				</div>
				<div class="flex flex-col text-center my-3 lg:my-0">
					<dt class="mb-2 text-6xl font-extrabold">$5M</dt>
					<dd class="text-white">Saved client revenue</dd>
				</div>
				<div class="flex flex-col text-center my-3 lg:my-0">
					<dt class="mb-2 text-6xl font-extrabold">$15M</dt>
					<dd class="text-white">VC Funding</dd>
				</div>
			</dl>
		</div>
	</div>
	<div class="custom-shape-divider-top-1724882860">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path class="fill-current text-teal-700" d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
			<path class="fill-current text-teal-700" d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
			<path class="fill-current text-teal-700" d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
		</svg>
	</div>
	<div class="max-w-screen-xl mx-auto py-5 lg:py-40 px-10">
		<div class="grid grid-cols-1 md:grid-cols-4 items-center">
			<div class="px-8">
				<img src="/undraw_cooking.svg" />
			</div>
			<div class="col-span-3 px-8 lg:px-14 py-5 lg:py-0">
				<h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">NFTs help you make more money.</h5>
				<p class="mb-3 text-gray-700 dark:text-gray-400 text-base lg:text-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-4 items-center mt-4 lg:mt-32">
			<div class="col-span-3 px-8 lg:px-14 py-5 lg:py-0">
				<h5 class="mb-2 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">NFTs make your food taste better.</h5>
				<p class="mb-3 text-gray-700 dark:text-gray-400 text-base lg:text-lg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</p>
			</div>
			<div class="px-8 order-first md:order-last">
				<img src="/undraw_hamburger.svg" />
			</div>
		</div>
	</div>
	<div class="bg-slate-700">
		<div class="relative flex overflow-x-hidden text-white font-extrabold">
			<div class="py-12 animate-marquee whitespace-nowrap">
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
			</div>

			<div class="absolute top-0 py-12 animate-marquee2 whitespace-nowrap">
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
				<span class="mx-4 text-4xl">BUY NOW</span>
			</div>
		</div>
	</div>

	<div class="max-w-screen-xl mx-auto p-4 py-10 lg:py-20">
		<h5 class="max-w-md mx-auto mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contact Us</h5>
		<form class="max-w-md mx-auto">
			<div class="relative z-0 w-full mb-5 group">
				<input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
				<label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
			</div>
			<div class="grid md:grid-cols-2 md:gap-6">
				<div class="relative z-0 w-full mb-5 group">
					<input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
					<label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
				</div>
				<div class="relative z-0 w-full mb-5 group">
					<input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
					<label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
				</div>
			</div>
			<div class="grid md:grid-cols-2 md:gap-6">
				<div class="relative z-0 w-full mb-5 group">
					<input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="floating_phone" id="floating_phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
					<label for="floating_phone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Phone number (123-456-7890)</label>
				</div>
				<div class="relative z-0 w-full mb-5 group">
					<input type="text" name="floating_company" id="floating_company" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
					<label for="floating_company" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Company (Ex. Google)</label>
				</div>
			</div>
			<button type="submit" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Submit</button>
		</form>
	</div>
</Layout>
